---
import Layout from '../../components/Layout.astro'

const response = await fetch('http://localhost:3000/api/product');
const groups: any[] = await response.json();
---

<Layout title="List of products" color="white">
	<div class="mb-5" >Groups list:</div>
	<div>
		{groups.map((item) => <div>
				Group item:
				<a href={`list/${item.id}`} >
				<p>{item.name}</p>
				<p>{item.id}</p>
			</a>
			</div>)}
	</div>
</Layout>
