---
import Layout from '../components/Layout.astro';
---

<Layout title="Welcome to Astro." color="lightgreen" >
	<div class="flex flex-1 items-center justify-center h-full" >
		<div class="text-5xl" >Welcome to Astro Application!</div>
	</div>
</Layout>